/* Main Stylesheet for BEHS Science Website */

body {
    background-color: #2a113b;
    max-width: 100%;
}

@media (min-width: 768px) {
    .contact-card {
        border-right: solid 1px #ccc;
    }

    #sciencenvrsucks {
        background-color: #DFD8EB;
        color: #272727
    }

    hr {
        border: solid .15em #3A1156;
    }
}